
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#TNotas').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ Registros",
                    "sZeroRecords": "&nbsp;",
                    "sEmptyTable": "&nbsp;",
                    "sInfo": "Encontrados: _TOTAL_ Registros (Mostrando del _START_ al _END_)",
                    "sInfoEmpty": "* No se han encontrado resultados en la búsqueda",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                aoColumnDefs: [{ 'bSortable': false, 'aTargets': ['no-sortable'] }]
            });
        }
    );

    
</script>
@{ 
    int id = int.Parse(Request["id"]);
    Negocio.ClasesModelo.Usuario user = new Negocio.OperacionesUsuarios().Traer(id);

}
<h2>Notas de @string.Format("{0} {1} {2} {3}", user.Pnombre, user.Snombre, user.Appat, user.Apmat) en @Request["prog"]</h2>

<table id="TNotas">
    <thead>
        <tr>
            <th>1° nota</th>
            <th>2° nota</th>
            <th>3° nota</th>
            <th>4° nota</th>
        </tr>
    </thead>
    <tr> 
        @{ 
            Negocio.OperacionesNota opnota = new Negocio.OperacionesNota();
            List<Negocio.ClasesModelo.Nota> lista = opnota.TraeNotasDe(id);
            float nota1 = 0 ;
            float nota2=0;
            float nota3=0;
            float nota4=0;
            foreach (Negocio.ClasesModelo.Nota nota in lista)
            {
                switch (nota.numeral)
                {
                    case 1:
                        nota1 = nota.calificacion;
                        break;
                    case 2:
                        nota2 = nota.calificacion;
                        break;
                    case 3:
                        nota3 = nota.calificacion;
                        break;
                    case 4:
                        nota4 = nota.calificacion;
                        break;

                }
            }
            }
        <th><input class="form-control" type="text" id="nota1" name="nota1" value="@nota1" /></th>
        <th><input class="form-control" type="text" id="nota2" name="nota2" value="@nota2"/></th>
        <th><input class="form-control" type="text" id="nota3" name="nota3" value="@nota3"/></th>
        <th><input class="form-control" type="text" id="nota4" name="nota4" value="@nota4"/></th>
    </tr>
</table>
<center>
    <input class="btn btn-primary" type="button" id="btnNota" name="btnNota" value="Registrar Notas" />
</center>