
@{
    ViewBag.Title = "PanelCEM";
    Layout = "~/Views/Shared/MasterPageAmplio.cshtml";
}





<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/css/estilosTabs.css" rel="stylesheet" />
<script src="~/Scripts/js/jsTabs.js"></script>
<script type="text/javascript">
     $(document).ready(
        function () {
            $("#msjExito").hide();
        }
);
</script>

<center>
    <h2>PanelCEM</h2>

    <p>Seleccione la accion a realizar</p>


    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Postulantes')">Ver postulantes</button>
        <button class="tablinks" onclick="openCity(event, 'Programas')">Programas impartidos</button>
    </div>
</center>
<!-- Tab content -->
<div class="alert alert-success" id="msjExito">
    Usuario eliminado con exito
</div>
<div id="Postulantes" class="tabcontent">
    <h3>Programas</h3>
    
    <table id="TProgramas" style="width:100%">
        <thead>
            <tr>
                <th>Nombre del programa</th>
                <th>Area</th>
                <th>Fecha publicacion</th>
                <th>Cupos</th>
                <th>Tipo periodo</th>
                <th>Acciones</th>
            </tr>
            @{
                List<Negocio.ProgramaEstudios> lista = new Negocio.OperacionesProgramasEstudios().TraerTodo();
                foreach (Negocio.ProgramaEstudios prog in lista)
                {
                    if (prog.PUBLICADO == '1')
                    {
                        string area = prog.AREAESCUELA;
                        if (string.IsNullOrEmpty(area))
                        {
                            area = "No especificado";
                        }
                        <tr>
                            <th>@prog.NOMBREPROGRAMA</th>
                            <th>@area</th>
                            <th>@prog.FECHAPUBLICACION</th>
                            <th>@prog.CUPOS</th>
                            <th>@prog.TIPOPERIODO</th>
                            <th>
                                <form action="@Url.Action("VerPostulantes","User")" method="post">  
                                    <input type="hidden" value="@prog.IDPROGRAMAESTUDIO" id="id" name="id" />
                                    <input type="hidden" value="@prog.NOMBREPROGRAMA" id="nom" name="nom" />
                                    <input class="btn btn-link" type="submit" value="Ver Postulantes" />
                                </form>
                            </th>
                        </tr>
                    }
                }
            }
        </thead>
        
    </table>
</div>


<div id="Notas" class="tabcontent">
    
    
</div>