
@{
    ViewBag.Title = "PanelAdmin";
    Layout = "~/Views/Shared/MasterPageAmplio.cshtml";
}


<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/css/estilosTabs.css" rel="stylesheet" />
<script src="~/Scripts/js/jsTabs.js"></script>
<script src="~/Scripts/js/jsDataTableAdmin.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#TProgramas').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ Registros",
                    "sZeroRecords": "&nbsp;",
                    "sEmptyTable": "&nbsp;",
                    "sInfo": "Encontrados: _TOTAL_ Registros (Mostrando del _START_ al _END_)",
                    "sInfoEmpty": "* No se han encontrado resultados en la búsqueda",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                aoColumnDefs: [{ 'bSortable': false, 'aTargets': ['no-sortable'] }]
            });
        }
    );



    function BorrarUsuario(id) {
        var txt;
        var r = confirm("Seguro que quiere borrar este usuario");
        
        if (r == true) {
            var parms = { 'idBorrar': id };
            $.ajax({
                        url: '@Url.Action("BorrarUsuario", "User")',
                        type: 'POST',
                        data: parms,
                        success: function (result) {
                            //alert(result);
                            if (result === 'true') {
                                $("#msjExito").show(2000).delay(2000).fadeOut(2000);
                                $("#TUsuarios").load(location.href + " #TUsuarios>*", "");
                            }
                            
                            else {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                            }
                        }
             }
            );
        } 
    }


    function publicar(id) {
        var parms = { 'idPrograma': id };
            $.ajax({
                  url: '@Url.Action("PublicarPrograma", "User")',
                  type: 'POST',
                  data: parms,
                  success: function (result) {
                      //alert(result);
                      if (result === 'true') {
                          $("#msjExito").show(2000).delay(2000).fadeOut(2000);
                          $("#TPDE").load(location.href + " #TPDE>*", "");
                          $("#msjExito").html("Programa de estudios publicado con exito");
                      }
                      
                      else {
                          $("#msj").show(2000).delay(2000).fadeOut(2000);
                      }
                  }
            }
            );
    }

    function GenerarReporte(idAlumno, idPrograma) {
    var params = { 'idAlumno': idAlumno, 'idPrograma': idPrograma };
    $.ajax({
        url: '@Url.Action("GenerarReporte", "User")',
        type: 'POST',
        data: params,
        success: function (result) {
            //alert(result);
            if (result === 'true') {
                toastr.success('La descarga del certificado comenzara en breve');
                window.open('http://localhost:64400/Scripts/Documentos/certificadoAlumno.pdf');
            }
            else {
                toastr.error(result);
            }
        },
        error: function () {
            alert('Ajax arroja error');
        }
    }
    );
}
</script>



<center>
    <h2>PanelUsuario</h2>

    <p>Seleccione la tablas a ver</p>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Centros')">Centros</button>
        <button class="tablinks" onclick="openCity(event, 'PDE')">Programas de estudios</button>
        <button class="tablinks" onclick="openCity(event, 'Usuarios')">Usuarios</button>
        <button class="tablinks" onclick="openCity(event, 'Calificaciones')">Informacion postulantes</button>
    </div>
</center>
<!-- Tab content -->
<div class="alert alert-success" id="msjExito">
    Usuario eliminado con exito
</div>
<div id="Usuarios" class="tabcontent">
    <h3>Usuarios</h3>
    <a href="@Url.Action("AgregarUsuario", "User")">
        <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
    </a>
    <table id="TUsuarios" style="width:100%">
        <thead>
            <tr>

                <th>ID</th>
                <th>Username</th>
                <th>Pasword</th>
                <th>Nombre completo</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Fono fijo</th>
                <th>tipo usuario</th>
                <th>alumno regular</th>
                <th>Carrera</th>
                <th>Acciones</th>
            </tr>
        </thead>

        @{
            List<Negocio.ClasesModelo.Usuario> lista = new Negocio.OperacionesUsuarios().TraerTodo();
            foreach (Negocio.ClasesModelo.Usuario user in lista)
            {

                if (user.Snombre == null) { user.Snombre = "no tiene"; }
                <tr>
                    <th>@user.IdUsuario</th>
                    <th>@user.Username</th>
                    <th>@user.Password</th>
                    <th>@string.Format("{0} {1} {2} {3}",user.Pnombre,user.Snombre,user.Appat,user.Apmat)</th>
                    <th>@user.Email</th>
                    <th>@user.FonoCelular</th>
                    <th>@user.FonoFijo</th>
                    <th>@user.TipoUsuario</th>
                    <th>@user.AlumnoRegular</th>
                    <th>@user.IdCarrera</th>
                    <th>
                        <a href="javascript:void(0)" onclick="BorrarUsuario(@user.IdUsuario)"> <img src="~/Scripts/images/delete.png" /></a>
                        <a href="@Url.Action("EditarUsuario", "User")?id=@user.IdUsuario&user=@user.Username&pass=@user.Password&pnom=@user.Pnombre&snom=@user.Snombre&apat=@user.Appat&amat=@user.Apmat&email=@user.Email&movil=@user.FonoCelular&fijo=@user.FonoFijo&tipo=@user.TipoUsuario&aregu=@user.AlumnoRegular&carrera=@user.IdCarrera"><img src="~/Scripts/images/edit.png" /></a>
                        @{
                            if (user.TipoUsuario == 2)
                            {
                                <a href="@Url.Action("PostularAlumno", "User")?id=@user.IdUsuario"><img src="~/Scripts/images/TomarRamo.png" width="30" height="14" /></a>
                                <a href="javascript:void(0)" onclick="GenerarReporte(@user.IdUsuario,1)">
                                    <img src="~/Scripts/images/DescargarPDF.png" width="20" height="20" />
                                </a>
                            }

                        }

                    </th>
                </tr>
            }
        }


    </table>
</div>

<div id="Centros" class="tabcontent">
    <h3>Usuarios</h3>
    <a href="@Url.Action("AgregarCentro", "User")">
        <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
    </a>
    <table id="TCentros"  style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre centro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
            @{
                List<Negocio.ClasesModelo.Institucion> listaCentros = new Negocio.OperacionesInstitucion().TraerTodo();
                foreach (Negocio.ClasesModelo.Institucion insti in listaCentros)
                {
        <tr>
            <th>@insti.idInstitucion</th>
            <th>@insti.nomInstitucion</th>
        </tr>
                }
            }
    </table>
</div>

<div id="PDE" class="tabcontent">
    <h3>Programas de estudio</h3>
    <a href="@Url.Action("AgregarCentro", "User")">
        <img src="~/Scripts/images/toggle01.png" /> agregar nuevo registro
    </a>
    <table id="TPDE" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre programa</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Cupos</th>
                <th>idCentro</th>
                <th>Tipo Periodo</th>
                <th>Area</th>
                <th>Requisitos</th>
                <th>Costos</th>
                <th>Publicado</th>
                <th>Fecha publicacion</th>
                <th>Acciones</th>
            </tr>
        </thead>


        @{
            Negocio.OperacionesProgramasEstudios opprog = new Negocio.OperacionesProgramasEstudios();
            List<Negocio.ProgramaEstudios> res = opprog.TraerTodo();
            foreach (Negocio.ProgramaEstudios pro in res)
            {
                bool publish = pro.PUBLICADO == '1';
                bool asignado = pro.IDCENTRO != null;
        <tr>
            <th>@pro.IDPROGRAMAESTUDIO</th>
            <th>@pro.NOMBREPROGRAMA</th>
            <th>@pro.DESCRIPCION</th>
            <th>@pro.IMAGEN</th>
            <th>@pro.CUPOS</th>
            <th>@pro.IDCENTRO</th>
            <th>@pro.TIPOPERIODO</th>
            <th>@pro.AREAESCUELA</th>
            <th>@pro.REQUISITOS</th>
            <th>@pro.COSTOINCLUIDO</th>
            <th>@pro.PUBLICADO</th>
            <th>@pro.FECHAPUBLICACION </th>
            <th>
                <a href="javascript:void(0)" onclick="publicar(@pro.IDPROGRAMAESTUDIO)"> <img src="~/Scripts/images/publicar.png" width="20" height="20" /></a>
                @if ( !asignado)
                {
                    <a href="@Url.Action("AsignarCentro", "User")?idProg=@pro.IDPROGRAMAESTUDIO"><img src="~/Scripts/images/asignar.png" width="25" height="25" /></a>
                  
                }
            </th>

        </tr>
                    }
                    }
            </table>
</div>

<div id="Calificaciones" class="tabcontent">
    <h3> Seleccione un curso </h3>
    <table id="TProgramas" style="width:100%">
        <thead>
            <tr>
                <th>Nombre del programa</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        @{
            Negocio.OperacionesProgramasEstudios oprog = new Negocio.OperacionesProgramasEstudios();
            List<Negocio.ProgramaEstudios> lista1 = oprog.TraerTodo();
            foreach (Negocio.ProgramaEstudios prog in lista1)
            {
            
                <tr>
                    <th>@oprog.TraerNombrePorId(prog.IDPROGRAMAESTUDIO)</th>
                    <th>@prog.DESCRIPCION</th>
                    <th>
                        <form action="@Url.Action("VerPostulantes","User")" method="post">
                            <input type="hidden" value="@prog.IDPROGRAMAESTUDIO" id="id" name="id" />
                            <input type="hidden" value="@prog.NOMBREPROGRAMA" id="nom" name="nom" />
                            <input class="btn btn-link" type="submit" value="Ver Postulantes" />
                        </form>
                        
                   </th>
                </tr>
                
            }
        }
        </table>
</div>




