
@{
    ViewBag.Title = "PanelCEL";
    Layout = "~/Views/Shared/MasterPageAmplio.cshtml";
}




<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/css/estilosTabs.css" rel="stylesheet" />
<script src="~/Scripts/js/jsTabs.js"></script>
<script type="text/javascript">
     $(document).ready(
        function () {
            $("#msjExito").hide();
        }
);
</script>

<center>
    <h2>PanelCEL</h2>

    <p>Seleccione la accion a realizar</p>


    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Notas')">Ver notas</button>
        <button class="tablinks" onclick="openCity(event, 'Programas')">Programas impartidos</button>
    </div>
</center>
<!-- Tab content -->
<div class="alert alert-success" id="msjExito">
    Usuario eliminado con exito
</div>
<div id="Programas" class="tabcontent">
    <h3>Usuarios</h3>
    <a href="@Url.Action("ProgramasEstudio", "Home")">
        Haga click aqui si desea buscar programas para unirse
    </a>
    <table id="TProgramas" style="width:100%">
        <thead>
            <tr>
                <th>Nombre del programa</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        @{
            Negocio.OperacionesProgramasEstudios oprog = new Negocio.OperacionesProgramasEstudios();
            List<Negocio.ProgramaEstudios> lista = oprog.TraerTodo();
            foreach (Negocio.ProgramaEstudios prog in lista) {
                if (prog.IDCENTRO==new Negocio.OperacionesUsuarios().Traer(int.Parse(Session["idUsuario"].ToString())).IdCarrera  ) {
                     <tr>
                         <th>@oprog.TraerNombrePorId(prog.IDPROGRAMAESTUDIO)</th>
                         <th>@prog.DESCRIPCION</th>
                     </tr>
                    }
                }
            }
    </table>
</div>


<div id="Notas" class="tabcontent">
    <h3>Seleccione alumno para ver sus calificaciones</h3>
    <form action="@Url.Action("NotasAdmin", "User")" method="post">
        <select>
            @{
                Negocio.OperacionesUsuarios opusu = new Negocio.OperacionesUsuarios();
                List<Negocio.ClasesModelo.Usuario> listaUsu = opusu.TraerTodo();
                foreach (Negocio.ClasesModelo.Usuario usu in listaUsu)
                {
                    if (usu.TipoUsuario==2 && usu.idInstitucion==opusu.Traer(int.Parse(Session["idUsuario"].ToString())).idInstitucion) {
                        <option value="@usu.IdUsuario">@string.Format("{0} {1} {2} {3}", usu.Pnombre, usu.Snombre, usu.Appat, usu.Apmat)</option>
                    }
                }
            }

        </select>
        <input type="submit" value="Ver notas" class=".btn-info"/>
    </form>
</div>